body {
    background-color: #595647;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    width: 750px;
    margin: auto;
  }
  .but{
  background-color: #4CAF50;
  border:4px solid green;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
    font-weight: bold;

  }
