#logo
{
    letter-spacing: 1pt;
    font-weight: 800;
    padding: 5px;
    line-height: 5px;
}
#logobrand{
    width: 5%;
    
}
.bg-primary {
    background-color: #1e3d59!important;
}
.navbar-dark .navbar-nav .nav-link {
    /* color: #282726; */
    color:#f5f0e1;
}
.nav-link:hover{
     border-bottom: 5px solid #ff6e40; 
    /* animation-name: slowborder;
    animation-timing-function: ease;
    animation-duration: 1s; */
   
}
.btn-primary {
    color: #fff;
    background-color: #ffc13b;
    border-color: #ffc13b;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    background-color: #1e3d59 !important;
}
.nav-link:active{
   color: black;
}
@keyframes slowborder {
    0% { background-color: orange;opacity: 0.2;}
    25%{background-color: orange;opacity: 0.4;}
    50% {background-color: orange;opacity: 0.6;}
    75% {background-color: orange;opacity: 0.8;}
    100%{background-color:  orange;opacity: 1;}
  }
.dropdown-item:hover{
    
    border-left: 5px solid orange;
}
