doctype html
head
  title Dictionary Project
  link(rel='stylesheet', href='/css/dict.css')
h1  WAP ONLINE DICTIONARY
form.form-signin(method='POST', action='/word.js')
  label Term:
  input#searchKey.form-control(type='text', name='searchKey', placeholder='Search Definition')
  input#Submit(type='submit', value='Look Up')

      